/*  1. FOOTER
        - Para que el footer se coloque al final
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/*  END 1. FOOTER*/

/*  2. SIDENAV
        - Para tener un menú lateral
*/
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
/*  END 2. SIDENAV*/

.intro {
    height: 100vh;
    text-align: center
}

.no-margin {
    margin: 0
}

.primo-start-1 {
    height: 400px;
    background: url("/static/img/newspaper.jpg") center no-repeat;
    background-size: cover
}
.primo-start-2 {
    height: 400px;
    background: url("/static/img/internet.jpg") center no-repeat;
    background-size: cover
}

.error {
    font-size: 0.8rem;
    color: #b71c1c;
}

.justify {
  text-align: justify
}