/* INI: FOOTER
        - Para que el footer se coloque al final
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* FIN: FOOTER */

/* INI: SIDENAV
        - Para tener un menú lateral
*/
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
/* FIN: SIDENAV */

/* INI: LIST CARDS
        - Se encarga de que cuadren y se ajusten todas las cards.
*/
.container-fix {
    padding: 0px 30px 0px 30px;
    width: inherit;
}
.row-fix {
    column-count: 3;
    column-gap: 1em;
}
.row-fix .col-fix {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    left: inherit;
    right: inherit;
    float: inherit;
}
@media screen and (max-width: 900px) {
    .row-fix {
        column-count: 2;
    }
}
@media screen and (max-width: 600px) {
    .row-fix {
        column-count: 1;
    }
}

.row-fix-m {
    column-count: 2;
    column-gap: 1em;
}
.row-fix-m .col-fix {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    left: inherit;
    right: inherit;
    float: inherit;
}
@media screen and (max-width: 900px) {
    .row-fix-m {
        column-count: 2;
    }
}
@media screen and (max-width: 600px) {
    .row-fix-m {
        column-count: 1;
    }
}
/* FIN: LIST CARDS */

/* INI: INDEX
        - Para el menu inicial.
*/

/* - - - - - - - - - - - - - - - - - - - - - - -
   Home
   - - - - - - - - - - - - - - - - - - - - - - - */
.intro {
    /*height: 100vh;*/
    text-align: center
}

.no-margin {
    margin: 0
}


/* - - - - - - - - - - - - - - - - - - - - - - -
   Start
   - - - - - - - - - - - - - - - - - - - - - - - */
.primo-start-1 {
    height: 400px;
    background: url("/static/img/newspaper.jpg") center no-repeat;
    background-size: cover
}
.primo-start-2 {
    height: 400px;
    background: url("/static/img/internet.jpg") center no-repeat;
    background-size: cover
}

/* - - - - - - - - - - - - - - - - - - - - - - -
   Service
   - - - - - - - - - - - - - - - - - - - - - - - */
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: 3.56rem;
}

.pad-bot {
  padding-bottom: 50px;
}

/* - - - - - - - - - - - - - - - - - - - - - - -
   Team
   - - - - - - - - - - - - - - - - - - - - - - - */

.team-col {
  margin-bottom: 30px;
}

.primo-team {
  border-radius: 999px;
  height: 250px;
  width: auto;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

.primo-team:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@media (max-width:480px) {
  .primo-team {
    width: 100%;
    height: auto;
  }
}

.fa-circle {
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

a:hover .fa-circle {
  color: #80d8ff;
  /* light-blue accent-1 */
}

/* FIN: INDEX */

/* INI: GENERAL
        - Elementos generales para todos los archivos.
*/
.error {
    font-size: 0.8rem;
    color: #b71c1c;
}

.justify {
  text-align: justify
}
/* FIN: GENERAL */