{% extends 'base.html' %}

{% load i18n %}
{% load l10n %}
{% load static %}
{% load apptags %}

{% block titulo %}{{ feed.title }}{% endblock %}
{% block header %}{{ feed.title }}{% endblock %}
{% block header_icon %}{% if has_feed %}delete{% else %}add{% endif %}{% endblock %}
{% block header_href %}
    {% if has_feed %}{% url 'feed_delete' section_id feed.id %}
    {% else %}{% url 'feed_create' %}?url={{ feed.link_rss|urlencode }}
    {% endif %}
{% endblock %}

{% block contenido %}
    <div class="container-fix">
        <br><br>
        <div class="row-fix">
            {% for item in news %}
                <div class="col-fix">
                    {% show_card user.id item.title item.image item.pubDate item.description color_secondary item.id %}
                </div>
            {% endfor %}
        </div>

        {% show_pagination news color_primary %}

    </div>
{% endblock %}