{% extends 'base.html' %}
{% load static %}
{% load apptags %}

{% block titulo %}Feed{% endblock %}

{% block encabezado %}Feed{% endblock %}

{% block contenido %}
    <div class="container">
        <h3 class="center"><a href="{{ feed.link }}" class="{{ color_secondary }}-text">{{ feed.title }}</a></h3>
        <h5 class="header center">{{ feed.description }}</h5>
        <br>

        <div class="row">
            {% for item in news %}
                <div class="col s12 m6 ">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ item.image }}">
                            <a class="btn-floating halfway-fab waves-effect waves-light {{ color_primary }}"
                                href="{% url 'item_view' item.id %}"><i class="material-icons">launch</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ item.title }}</span>
                            <small>{{ item.pubDate }}</small>
                            <p class="justify">{% reduce_text item.description %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if news.has_other_pages %}
            <ul class="pagination">
                {% if news.has_previous %}
                    <li class="waves-effect"><a href="?page={{ news.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% for i in news.paginator.page_range %}
                    {% if news.number == i %}
                        <li class="active {{ color_primary }}"><a>{{ i }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if news.has_next %}
                    <li class="waves-effect"><a href="?page={{ news.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                {% else %}
                    <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
{% endblock %}