{% extends 'base.html' %}

{% block titulo %}Tus Feeds{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="section">
            <h3 class="center">
                <a class="{{ color_secondary }}-text">Tus Feeds</a></h3>
        </div>
        <div class="section row">
            <div class="col s12">
                {% for section in sections %}
                    <ul class="collection with-header">
                        <li class="collection-header {{ color_primary }}-text">
                            <h4>{{ section.title }}</h4>
                        </li>

                        {% for feed in section.feeds.all %}
                            <li class="collection-item avatar">
                                <img src="{{ feed.logo }}" alt="" class="circle">
                                <span class="title"><a href="{% url 'feed_view' feed.id %}">{{ feed.title }}</a></span>
                                <p>{{ feed.description }}<br>
                                <small>{{ feed.link }}</small></p>

                                <a href="{% url 'feed_delete' section.id feed.id %}"
                                   class="secondary-content"><i class="material-icons {{ color_secondary }}-text">delete</i></a>
                            </li>
                        {% empty %}
                            <a href="{% url 'feed_create' %}" class="collection-item">
                                Añade tus periódicos favoritos
                            </a>
                        {% endfor %}
                    </ul>

                {% empty %}
                    <ul class="collection">
                        <a href="{% url 'feed_create' %}" class="collection-item">
                            Añade tus periódicos favoritos
                        </a>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="section center">
            <a class="btn waves-effect waves-light {{ color_primary }}" href="{% url 'feed_create' %}">
                Nuevo Feed <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
{% endblock %}