{% extends 'base.html' %}
{% load static %}
{% load apptags %}

{% block titulo %}{{ feed.title }}{% endblock %}

{% block encabezado %}{{ feed.title }}{% endblock %}

{% block contenido %}
    <div class="container">
        <h3 class="center">
            <a href="{{ feed.link }}" class="{{ color_secondary }}-text">{{ feed.description }}</a></h3>
        <br>

        <div class="row">
            {% for item in news %}
                <div class="col s12 m6 ">
                    {% show_card item.title item.image item.pubDate item.description color_primary item.id %}
                </div>
            {% endfor %}
        </div>

        {% show_pagination news color_primary %}

    </div>
{% endblock %}