{% extends 'base.html' %}

{% load i18n %}
{% load l10n %}
{% load static %}
{% load apptags %}

{% block titulo %}{% trans 'your_feeds' %}{% endblock %}
{% block header %}{% trans 'your_feeds' %}{% endblock %}

{% block contenido %}
    <div class="container">
        <br>
        <div class="section row">
            <div class="col s12">
                {% for section in sections %}
                    <ul class="collection with-header">
                        <li class="collection-header {{ color_primary }}-text">
                            <h4>{{ section.title }}</h4>
                        </li>

                        {% for feed in section.feeds.all %}
                            <li class="collection-item avatar">
                                <img src="{{ feed.logo }}" alt="" class="circle">
                                <span class="title"><a href="{% url 'feed_view' feed.id %}">{{ feed.title }}</a></span>
                                <p>{{ feed.description }}<br>
                                <small>{{ feed.link }}</small></p>

                                <a href="{% url 'feed_delete' section.id feed.id %}"
                                   class="secondary-content"><i class="material-icons {{ color_secondary }}-text">delete</i></a>
                            </li>
                        {% empty %}
                            <a href="{% url 'feed_create' %}" class="collection-item">
                                {% trans 'add_feed' %}
                            </a>
                        {% endfor %}
                    </ul>

                {% empty %}
                    <ul class="collection">
                        <a href="{% url 'feed_create' %}" class="collection-item">
                            {% trans 'add_feed' %}
                        </a>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="section center">
            <a class="btn waves-effect waves-light {{ color_secondary }}" href="{% url 'feed_create' %}">
                {% trans 'new_feed' %} <i class="material-icons right">library_books</i>
            </a>
        </div>
    </div>
{% endblock %}