{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TLN - {% block titulo %}{% endblock %}</title>
    <meta name="description" content="Lee Tus Noticias">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
    <link rel="icon" href="{% static "img/icon.png" %}">
</head>
<body>
    <header>
        <nav class="{{ color_primary }}" role="navigation">
            <div class="nav-wrapper container">
                <a href="{% url 'home' %}" class="brand-logo">{% block encabezado %}{% endblock %}</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul id="nav-mobile" class="side-nav fixed">
            {% if user.is_authenticated %}
                <li>
                    <div class="userView">
                        <div class="background">
                            <img src="{% static 'img/newspaper.jpg' %}">
                        </div>
                        <a href="#!user"><img class="circle" src="{% static 'img/icon.png' %}"></a>
                        <a href="#!name"><span class="white-text name">{{ user.username }}</span></a>
                        <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
                    </div>
                </li>

                <li><a href="{% url 'item_list' %}">Noticias</a></li>
                <li><a href="{% url 'feed_list' %}">Tus Feeds</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Registarse</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </header>

    <main class="">
        {% block contenido %}{% endblock %}
    </main>

    <footer class="page-footer {{ color_primary }}">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">¿Por qué LT-News?</h5>
                    <p class="grey-text text-lighten-4">Surge de la necesidad de todos de informarse,pero la enormidad
                        de medios y el poquísimo tiempo nos hace excusarnos de la gran tarea de leer y formarse una
                        opinión propia de lo que ocurre a nuestro alrededor.</p>
                </div>

                <div class="col l3 s12">
                    <h5 class="white-text">Herramientas</h5>
                    <ul>
                        <li><a class="white-text" href="https://www.python.org/">Python</a></li>
                        <li><a class="white-text" href="https://www.djangoproject.com/">Django</a></li>
                        <li><a class="white-text" href="https://pythonhosted.org/feedparser/">Feedparser</a></li>
                        <li><a class="white-text" href="http://whoosh.readthedocs.io/en/latest/">Whoosh</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Aplicaciones</h5>
                    <ul>
                        <li><a class="white-text" href="http://django-haystack.readthedocs.io/en/v2.6.0/">Haystack</a></li>
                        <li><a class="white-text" href="http://django-cron.readthedocs.io/en/latest/index.html">Django-cron</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                Copyright: <a class="{{ color_secondary }}-text text-lighten-3" href="https://github.com/andjimrio">Andrés M. Jiménez</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>

    {% block javascript %}{% endblock %}

</body>
</html>