{% load i18n %}
{% load l10n %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>LTN - {% block titulo %}{% endblock %}</title>
    <meta name="description" content="{% trans 'subtitle' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#3e2723">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#3e2723">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#3e2723">

  	<link rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.ico" %}"/>
    <link rel="icon" href="{% static "img/icon.png" %}">
</head>
<body>
    <header>
        <nav class="nav-extended {{ color_primary }}" role="navigation">
            <div class="nav-wrapper container">
                <a href="{% url 'home' %}" class="brand-logo">LT-News</a>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
            {% block not_header %}
                <div class="nav-content container">
                    <span class="nav-title"><strong>{% block header %}{% endblock %}</strong></span>

                    {% block not_header_button %}
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light {{ color_secondary }}"
                           href="{% block header_href %}{% endblock %}">
                            <i class="material-icons">{% block header_icon %}{% endblock %}</i>
                        </a>
                    {% endblock %}
                </div>
            {% endblock %}
        </nav>
        <ul id="nav-mobile" class="side-nav fixed">
            {% if user.is_authenticated %}
                <li>
                    <div class="userView">
                        <div class="background">
                            <img src="{% static 'img/newspaper.jpg' %}">
                        </div>
                        <img class="circle" src="{% static 'img/icon_circle.png' %}">
                        <span class="white-text name">{{ user.username }}</span>
                        <a href="{% url 'profile_view' %}"><span class="white-text email">
                            <i class="material-icons right">arrow_drop_down</i>{{ user.email }}</span>
                        </a>
                    </div>
                </li>

                <li><a href="{% url 'item_list' %}">
                    <i class="material-icons left">view_list</i>{% trans 'news' %}
                </a></li>
                <li><a href="{% url 'feed_list' %}">
                    <i class="material-icons left">library_books</i>{% trans 'newspapers' %}
                </a></li>
                <li><a href="{% url 'item_recommend' %}">
                    <i class="material-icons left">grade</i>{% trans 'recommends' %}
                </a></li>
                <li><a href="{% url 'item_summary' %}">
                    <i class="material-icons left">whatshot</i>{% trans 'outstanding' %}
                </a></li>
                <li><a href="{% url 'item_search' %}">
                    <i class="material-icons left">search</i>{% trans 'search' %}
                </a></li>
            {% else %}
                <li><a href="{% url 'register' %}">
                    <i class="material-icons left">system_update_alt</i>{% trans 'register' %}
                </a></li>
                <li><a href="{% url 'login' %}">
                    <i class="material-icons left">input</i>{% trans 'login' %}
                </a></li>
            {% endif %}

            <li class="divider"></li>

            <li><a href="#" id="flag" >
                <i class="material-icons left">translate</i>{% trans 'translate' %}
            </a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">
                    <i class="material-icons left">exit_to_app</i>{% trans 'logout' %}
                </a></li>
            {% endif %}
        </ul>
    </header>

    <main class="">
        {% block contenido %}{% endblock %}
    </main>

    <footer class="page-footer {{ color_primary }}">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">{% trans 'footer_title1' %}</h5>
                    <p class="grey-text text-lighten-4 justify">{% trans 'footer_subtitle1' %}</p>
                </div>

                <div class="col l3 s12">
                    <h5 class="white-text">{% trans 'footer_title2' %}</h5>
                    <ul>
                        <li><a class="white-text" href="https://www.python.org/">Python</a></li>
                        <li><a class="white-text" href="https://www.djangoproject.com/">Django</a></li>
                        <li><a class="white-text" href="http://whoosh.readthedocs.io/en/latest/">Whoosh</a></li>
                        <li><a class="white-text" href="https://pythonhosted.org/feedparser/">Feedparser</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">{% trans 'footer_title3' %}</h5>
                    <ul>
                        <li><a class="white-text" href="http://newspaper.readthedocs.io/en/latest/">Newspaper</a></li>
                        <li><a class="white-text" href="http://django-cron.readthedocs.io/en/latest/index.html">Django-cron</a></li>
                        <li><a class="white-text" href="http://materializecss.com/">Materialize</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                Copyright: <a class="{{ color_secondary }}-text text-lighten-3" href="https://github.com/andjimrio">{% trans 'andjimrio' %}</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <script src="{% static "js/cookies.min.js" %}"></script>
    <script src="{% static "js/Chart.min.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>

    {% block javascript %}{% endblock %}
</body>
</html>