{% extends 'base.html' %}
{% load static %}
{% load apptags %}

{% block titulo %}Feed{% endblock %}

{% block encabezado %}Feed{% endblock %}

{% block contenido %}
    <div class="container">
        <h3 class="center"><a href="{{ feed.link }}" class="{{ color_secondary }}-text">{{ feed.title }}</a></h3>
        <h5 class="header center">{{ feed.description }}</h5>
        <br>

        <div class="row">
            {% for item in feed.items.all %}
                <div class="col s12 m6 ">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ item.image }}">
                            <a class="btn-floating halfway-fab waves-effect waves-light {{ color_primary }}"
                                href="{% url 'article' item.id %}"><i class="material-icons">launch</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ item.title }}</span>
                            <small>{{ item.pubDate }}</small>
                            <p class="justify">{% reduce_text item.description %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}