{% extends 'base.html' %}
{% load static %}

{% block titulo %}Feeds{% endblock %}

{% block encabezado %}Feeds{% endblock %}

{% block contenido %}
    <div class="container">
        {% for feed in feedes %}
            <h3 class="center"><a href="{{ feed.link }}" class="{{ color_secondary }}-text">{{ feed.title }}</a></h3>
            <h5 class="header center">{{ feed.description }}</h5>

            <div class="row">
                {% for item in feed.items.all %}
                    <div class="col s12 m6 l4">
                        <div class="card large">
                            <div class="card-image">
                                <img src="{% static "img/icon.png" %}">
                                <span class="card-title">{{ item.title }}</span>
                            </div>
                            <div class="card-content">
                                <em>{{ item.pubDate }}</em>
                                <p>{{ item.description }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'article' item.id %}" class="{{ color_primary }}-text">Leer más</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}