{% extends 'base.html' %}
{% load static %}
{% load apptags %}

{% block titulo %}Feeds{% endblock %}

{% block encabezado %}Feeds{% endblock %}

{% block contenido %}
    <div class="container">
        {% for feed in feedes %}
            <h3 class="center"><a href="{{ feed.link }}" class="{{ color_secondary }}-text">{{ feed.title }}</a></h3>
            <h5 class="header center">{{ feed.description }}</h5>

            <div class="row">
                {% for item in feed.items.all %}
                    <div class="col s12">
                        <div class="card horizontal small">
                            <div class="card-image">
                                <img src="{{ item.image }}">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <p class="card-title">{{ item.title }}</p>
                                    <em>{{ item.pubDate }}</em>
                                    <p class="justify">{{ item.description }}</p>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'article' item.id %}" class="{{ color_primary }}-text">Leer más</a>
                                    <a href="#modal{{ item.id }}" class="{{ color_primary }}-text">Ver artículo</a>
                                </div>
                            </div>
                        </div>
                        <div id="modal{{ item.id }}" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>{{ item.title }}</h4>
                                <p class="justify">{% autoescape off %}{% pretty_text item.article %}{% endautoescape %}</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}