{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block titulo %}Inicio{% endblock %}

{% block contenido %}
    <div class="row intro valign-wrapper {{ color_primary }} lighten-1 no-margin">
        <div class="container white-text row">
            <div class="section">
                <img class="responsive-img" src="{% static 'img/icon.png' %}">
            </div>
            <div class="section">
                <h4>{% trans 'subtitle' %}</h4>
                <div class="col s12">
                    {% if user.is_authenticated %}
                        <a class="btn-large btn-flat waves-effect waves-light {{ color_secondary }}-text"
                            href="{% url 'item_list' %}">{% trans 'news' %}</a>
                    {% else %}
                        <a class="btn-large btn-flat waves-effect waves-light {{ color_secondary }}-text text-darken-2"
                            href="{% url 'register' %}">{% trans 'register' %}</a>
                        <a class="btn-large btn-flat waves-effect waves-light {{ color_secondary }}-text text-lighten-2"
                            href="{% url 'login' %}">{% trans 'login' %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row no-margin" id="start">
        <div class="col s12 m6 l6">
            <section class="container section">
                <h5 class="section center">{% trans 'index_title1' %}</h5>
                <p class="justify">{% trans 'index_subtitle1' %}</p>
            </section>
        </div>

        <div class="col s12 m6 l6 primo-start-1"></div>
    </div>
    <div class="row no-margin">
        <div class="col s12 m6 l6 push-m6 push-l6">
            <section class="container section">
                <h5 class="section center">{% trans 'index_title2' %}</h5>
                <p class="justify">{% trans 'index_subtitle2' %}</p>
            </section>
        </div>
        <div class="col s12 m6 l6 pull-m6 pull-l6 primo-start-2"></div>
    </div>

    <div class="row no-margin {{ color_primary }} lighten-5">
        <div class="col s12">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h4 class="center">{% trans 'features' %}</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <div class="center {{ color_primary }}-text">
                                <i class="material-icons">rss_feed</i>
                            </div>
                            <h5 class="center">{% trans 'features_title1' %}</h5>
                            <p class="justify">{% trans 'features_subtitle1' %}</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <div class="center {{ color_primary }}-text">
                                <i class="material-icons">group_work</i>
                            </div>
                            <h5 class="center">{% trans 'features_title2' %}</h5>
                            <p class="justify">{% trans 'features_subtitle2' %}</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <div class="center {{ color_primary }}-text">
                                <i class="material-icons">person</i>
                            </div>
                            <h5 class="center">{% trans 'features_title3' %}</h5>
                            <p class="justify">{% trans 'features_subtitle3' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pad-bot">
        <div class="row">
            <div class="col s12 center">
                <h4>{% trans 'author' %}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="center">
                    <img src="{% static 'img/andjimrio.jpg' %}" class="primo-team">
                </div>
            </div>
            <div class="col s12 m6">
                <h5 class="{{ color_primary }}-text text-darken-2">{% trans 'andjimrio' %}</h5>
                <h6 class="{{ color_primary }}-text">{% trans 'andjimrio_profession' %}</h6>
                <div class="divider"></div>
                <p class="justify">{% trans 'andjimrio_about' %}</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section col s12 center">
            <a class="btn waves-effect waves-light {{ color_secondary }}"
                href="https://github.com/andjimrio">Github</a>
            <a class="btn waves-effect waves-light {{ color_secondary }}"
                href="https://www.linkedin.com/in/andresjr4/">LinkedIn</a>
        </div>
    </div>

{% endblock %}