{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}

{% block encabezado %}Login{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row center">
            <div class="s12 input-field">
                <h3 class="{{ color_secondary }}-text">¡Accede desde aquí!</h3>
                <br>
        {% if form.errors %}
            <script>
                Materialize.toast('{{ form.errors }}', 4000)
            </script>
        {% endif %}
        <form id="login" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row">
                <div class="s12 input-field">
                    {{ form.username }}
                    {{ form.username.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="s12 input-field">
                    {{ form.password }}
                    {{ form.password.label_tag }}
                </div>
            </div>
            <div class="row">
                <div class="s12 center">
                    <button class="btn waves-effect waves-light {{ color_primary }}" type="submit" name="action">Confirmar
                        <i class="material-icons right">send</i>
                    </button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}