{% extends 'base.html' %}

{% block titulo %}Login{% endblock %}

{% block encabezado %}Login{% endblock %}

{% block contenido %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form id="login" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="Confirmar">
    </form>
{% endblock %}