{% extends 'base.html' %}
{% load static %}
{% load apptags %}

{% block titulo %}Noticias{% endblock %}

{% block contenido %}
    <div class="container-fix">
        <h3 class="center">
            <a class="{{ color_secondary }}-text">Noticias</a></h3>

        <div class="row-fix">
            {% for item in feedes %}
                <div class="col-fix">
                    {% show_card item.feeds__items__title item.feeds__items__image item.feeds__items__pubDate item.feeds__items__description color_secondary item.feeds__items__id item.feeds__title item.feeds__id %}
                </div>
            {% empty %}
                <ul class="collection">
                    <a href="{% url 'feed_create' %}" class="collection-item">
                        Añade tus periódicos favoritos
                    </a>
                </ul>
            {% endfor %}
        </div>

        {% show_pagination feedes color_primary %}
    </div>
{% endblock %}