{% extends 'base.html' %}

{% load i18n %}
{% load l10n %}
{% load static %}
{% load apptags %}

{% block titulo %}{% trans 'news' %}{% endblock %}
{% block header %}{% trans 'news' %}{% endblock %}

{% block contenido %}
    <div class="container-fix">
        <br><br>
        <div class="row-fix">
            {% for item in feedes %}
                <div class="col-fix">
                    {% show_card item.item__title item.item__image item.item__pubDate item.item__description color_secondary item.item_id item.item__feed__title item.item__feed_id %}
                </div>
            {% empty %}
                <div class="col-fix">
                    <ul class="collection center">
                        <a href="{% url 'feed_create' %}" class="collection-item">
                            {% trans 'add_feed' %}
                        </a>
                    </ul>
                </div>
            {% endfor %}
        </div>

        {% if feedes.has_next %}
            <div class="center">
                <a class="waves-effect waves-light btn {{ color_primary }}"
                   href="?actual={{ feedes.number }}&page={{ feedes.next_page_number }}">
                    <i class="material-icons right">forward</i>{% trans 'view_follow' %}
                </a>
            </div>
        {% elif feedes %}
            <div class="center">
                <a class="waves-effect waves-light btn {{ color_primary }}"
                   href="?actual={{ feedes.number }}">
                    <i class="material-icons right">move_to_inbox</i>{% trans 'view' %}
                </a>
            </div>
        {% endif %}
    </div>
    <br>
{% endblock %}