{% extends 'base.html' %}

{% load i18n %}
{% load l10n %}
{% load static %}
{% load apptags %}

{% block titulo %}{% trans 'summary_news' %}{% endblock %}
{% block header %}{% trans 'summary_news' %}{% endblock %}
{% block not_header_button %}{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="section row">
            <div class="col s12">
                {% for section, keyword_counters in summary_keywords.items %}
                    <div class="section">
                        <h5 class="{{ color_primary }}-text">{{ section }}</h5>
                        <ul class="collapsible" data-collapsible="accordion">
                            {% for keyword_counter in keyword_counters %}
                                <li>
                                    <div class="collapsible-header">
                                        <span class="new badge {{ color_secondary }}" data-badge-caption=": {{ keyword_counter.keyword }}">{{ keyword_counter.counts }}</span>
                                        {{ keyword_counter.sample_title }}
                                    </div>
                                    <div class="collapsible-body"><span>{% trans 'news_about' %} '{{ keyword_counter.keyword }}':
                                        {% for item_id,item_title in keyword_counter.items.items %}
                                            <br><a href="{% url 'item_view' item_id %}">{{ item_title }}</a>
                                        {% endfor %}
                                    </span></div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}