{% extends 'base.html' %}
{% load apptags %}

{% block titulo %}{% reduce_title item.title %}{% endblock %}

{% block contenido %}
    <div class="container center">
        <h4 class="{{ color_secondary }}-text">{{ item.title }}</h4>
    </div>

    {% if article.image != '' %}
        <div class="parallax-container">
            <div class="parallax"><img src="{{ item.image }}" /></div>
        </div>
    {% endif %}

    <div class="container">
        <div class="section">
            <blockquote>{{ item.creator }} | {{ item.pubDate }}</blockquote>

            <p class="justify">{% autoescape off %}{% pretty_text item.article %}{% endautoescape %}</p>
            <div class="center">
                {% if not status.like %}
                    <a class="waves-effect waves-light btn {{ color_primary }}" href="?like=True">
                        <i class="material-icons left">thumb_up</i>Me gusta
                    </a>
                {% else %}
                    <a class="waves-effect waves-light btn green" href="?like=False">
                        <i class="material-icons left">clear</i>Me gusta
                    </a>
                {% endif %}
                <a class="waves-effect waves-light btn {{ color_secondary }}" href="{{ item.link }}">
                    <i class="material-icons left">launch</i>Ir a la web
                </a>
            </div>
        </div>

        <div class="divider"></div>
        <div class="section center">
            <h6 class="{{ color_secondary }}-text">Etiquetas</h6>
            <br>
            {% for tag in tags %}
                <div class="chip"><a href="{% url 'item_query' tag %}">{{ tag }}</a></div>
            {% endfor %}
        </div>

        <div class="divider"></div>

        <div class="section">
            <h6 class="center {{ color_secondary }}-text">Noticias recomendadas</h6>
            <br>

            <div class="row-fix-m">
                {% for item in news %}
                    <div class="col-fix">
                        {% show_card item.title item.image item.pubDate item.description color_secondary item.id item.feed.title item.feed.id %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}