{% extends 'base.html' %}
{% load static %}
{% load apptags %}

{% block titulo %}Búsqueda: {{ query }}{% endblock %}

{% block contenido %}
    <div class="container-fix">
        <h3 class="center">
            <a class="{{ color_secondary }}-text">Búsqueda: <em>{{ query }}</em></a></h3>

        <div class="row-fix">
            {% for item in news %}
                <div class="col-fix">
                    {% show_card item.title item.image item.pubDate item.description color_secondary item.id %}
                </div>
            {% empty %}
                <ul class="collection">
                    <a href="{% url 'feed_create' %}" class="collection-item">
                        Añade tus periódicos favoritos
                    </a>
                </ul>
            {% endfor %}
        </div>

        {% show_pagination news color_primary %}
    </div>
{% endblock %}