{% extends 'base.html' %}

{% load i18n %}
{% load l10n %}
{% load static %}
{% load apptags %}

{% block titulo %}{% trans 'search_news' %}{% endblock %}
{% block header %}{% trans 'search_news' %}{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            {% if form.errors %}
                <div class="col s12">
                <ul class="collection with-header red-text text-darken-4">
                    <li class="collection-header"><h4>{% trans 'errors' %}</h4></li>
                    {% for error in  form.non_field_errors %}
                        <li class="collection-item">{{error|escape }}</li>
                    {% endfor %}
                </ul>
                <br>
            {% endif %}

            <form id="register" method="POST" action="{% url 'item_search' %}">
                {% csrf_token %}

                <div class="row">
                    {% for field in form %}
                        <div class="col s12 m6 input-field">
                            {{ field }}
                            {{ field.label_tag }}
                            <em class="error">{% for error in  field.errors %}{{ error }}{% endfor %}</em>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col s12 center">
                        <button class="btn waves-effect waves-light {{ color_secondary }}" type="submit" name="action">Buscar
                            <i class="material-icons left">search</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if news %}
        <div class="container-fix">
            <div class="row-fix">
                {% for item in news %}
                    <div class="col-fix">
                        {% show_card item.title item.image item.pubDate item.description color_secondary item.id item.feed.title item.feed.id %}
                    </div>
                {% empty %}
                    <div class="col-fix">
                        <ul class="collection">
                            <a href="{% url 'feed_create' %}" class="collection-item">
                                {% trans 'add_feed' %}
                            </a>
                        </ul>
                    </div>
                {% endfor %}
            </div>

            {% show_pagination news color_primary %}
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {% if news %}
        <script>
            Materialize.toast('{% trans 'query_has' %} {{ total }} {% trans 'news' %}', 4000);
        </script>
    {% endif %}
{% endblock %}