{% extends 'base.html' %}
{% load apptags %}

{% block titulo %}{% reduce_title article.title %}{% endblock %}

{% block encabezado %}{% reduce_title article.title %}{% endblock %}

{% block contenido %}
    <div class="container center">
        <h4 class="{{ color_secondary }}-text" href="{{ article.link }}">{{ article.title }}</h4>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ article.image }}" /></div>
    </div>
    <div class="container">
        <div class="section">
            <p class="justify">{% autoescape off %}{% pretty_text article.article %}{% endautoescape %}</p>
        </div>

        <div class="divider"></div>
        <div class="section center">
            <h6 class="{{ color_secondary }}-text">Etiquetas</h6>
            <br>
            {% for tag in tags %}
                <div class="chip"><a href="{% url 'item_query' tag %}">{{ tag }}</a></div>
            {% endfor %}
        </div>

        <div class="divider"></div>

        <div class="section">
            <h6 class="center {{ color_secondary }}-text">Noticias recomendadas</h6>
            <br>

            <div class="row">
                {% for item in news %}
                    <div class="col s12 m6 ">
                        {% show_card item.title item.image item.pubDate item.description color_primary item.id item.newspaper %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}